.footer {
  height: 100px;
  width: 100%;//100vw
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: aquamarine;
  color: #ffffff;
  border: none;
}