@import "colors";

.footer {
  height: 100px;
  width: 100%;//100vw
  margin-top: -10px;
  background-color: $theme;
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    padding: 0 30px;
    height: 45px;
    line-height: 45px;
  }
}
