@import "colors";

.header {
  height: 100px;
  width: 100%;//100vw
  background-color: $theme;

}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-transform: uppercase;

}
.header__item {
  color: #ffffff;
  margin-right: 20px;
  cursor: pointer;

}
.header__item:last-child {
  margin-right: 0;
}