@import "colors";
.main{
  display: flex;
  justify-content: space-between;
}
.side__menu{
  height:995px;
  width: 280px;
  background: $menu_back;

}
.general__menu {
  height:995px;
  width: 1620px;
  background-image: url("../images/back.png");
}